.products {
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.products .product img {
  width: 300px;
  object-fit: contain;
  height: 150px;
}

@media (max-width: 768px) {
  .products .product {
    margin: auto;
  }
  .products .product img {
    width: 150px;
  }
}
